<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>

  <!-- ðŸŽ¨ Stylesheets -->
    <!-- Fichiers en ligne -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/css/uikit.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Fichiers locaux -->
    <link rel="stylesheet" href="/css/uikit-custom.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/ui.css">

  <!-- ðŸŒŸ Fonts and Icons -->
  <script src="https://kit.fontawesome.com/be85c9a798.js" crossorigin="anonymous"></script>

  <!-- ðŸ’» JavaScript Libraries -->
    <!-- ðŸŒ UIkit: A lightweight and modular front-end framework for developing fast and powerful web interfaces. -->
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>

    <%- include('head.JSLibrairies.ejs') %>